<%- include("partials/header") -%>
    <script>
        document.getElementById('index-nav').classList.add("fh5co-active");
    </script>
    <div id="fh5co-main">
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li style="background-image: url(images/img_bg_1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><i class="fa fa-bell" aria-hidden="true"></i> Notification</h1>
                                        <h2>There is no notification</h2>
                                        <!-- <p><a href="/blog" class="btn btn-primary btn-learn">Xem ngay<i class="icon-arrow-right3"></i></a></p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><i class="fa fa-rss-square" aria-hidden="true"></i> Personal blog</h1>
                                        <h2>Many useful articles on a variety of topics</h2>
                                        <p><a href="/blog" class="btn btn-primary btn-learn">Learn more<i class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(images/img_bg_3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
                                    <div class="slider-text-inner">
                                        <h1><i class="fa fa-picture-o" aria-hidden="true"> Picture's collections</i></h1>
                                        <h2>A place for anyone to share and enjoy beautiful pictures</h2>
                                        <p><a href="/girl" class="btn btn-primary btn-learn">Learn more<i class="icon-arrow-right3"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
    </div>

    <%- include("partials/footer.ejs") -%>