<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include('resource/_stylesheet')%>
        <title>New Blog | SatBlog</title>
</head>

<body>
    <div class="container">
        <form method="POST" action="/blog/new">
            <div class="form-group" style="max-width: 860px; margin: auto">
                <h1 class="mb-4">New post</h1>
                <label for="">Topic</label>
                <select class="form-control" name="topic">
                    <% topics.forEach( topic => { %>
                        <option value="<%= topic.name %>"><%= topic.name %></option>
                        <% }) %>
                  </select>
                <label for="">Title</label>
                <input type="text" class="form-control" name="title" aria-describedby="helpId" placeholder="Title of the post" required>
                <label for="">Description</label>
                <textarea type="text" class="form-control" name="description" aria-describedby="helpId" placeholder="Description of the post" required></textarea>
                <label for="">Thumbnail</label>
                <input type="text" class="form-control" name="thumbnail" aria-describedby="helpId" placeholder="Please choose image below and paste here" required>
                <label for="">All images using in post</label>
                <input type="file" id="files" class="form-control">
                <div class="list-images"></div>
                <label for=" ">Content</label>
                <textarea style="height: 300px; " type="text " class="form-control " name="content" aria-describedby="helpId " placeholder="Content of the post" required></textarea>
                <hr><br>
                <button type="submit " class="btn btn-primary ">Submit</button>
                <a href="/blog" class="btn btn-secondary ">Cancel</a>
            </div>
        </form>
    </div>
    <!-- ckeditor 4 -->
    <script src="https://cdn.ckeditor.com/4.15.1/standard-all/ckeditor.js "></script>
    <script>
        CKEDITOR.replace('content', {
            extraPlugins: 'embed,autoembed,image2',
            height: 500,
            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [
                'http://cdn.ckeditor.com/4.15.1/full-all/contents.css',
                'https://ckeditor.com/docs/ckeditor4/4.15.1/examples/assets/css/widgetstyles.css'
            ],
            // Setup content provider. See https://ckeditor.com/docs/ckeditor4/latest/features/media_embed
            embed_provider: '//ckeditor.iframe.ly/api/oembed?url={url}&callback={callback}',

            // Configure the Enhanced Image plugin to use classes instead of styles and to disable the
            // resizer (because image size is controlled by widget styles or the image takes maximum
            // 100% of the editor width).
            // image2_alignClasses: ['image-align-left', 'image-align-center', 'image-align-right'],
            // image2_disableResizer: true
        });
    </script>
    <%- include("partials/post-image") -%>
        <!-- ckeditor 5 -->
        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js "></script>
    <script>
        ClassicEditor
                .create( document.getElementsByName( 'postContent' )[0] )
                .then( editor => {
                        console.log( editor );
                } )
                .catch( error => {
                        console.error( error );
                } );
    </script> -->
</body>

</html>